:root{
    --font-family: 'Playfair Display', serif;
}
body {
text-align: center;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    
}
h2 {
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 25px;
}
.hero {
    text-align: center;
    padding: 50px;
    margin-top: 60px;

}
.guests {
    font-size: 20px;
}
.col-6 {
    text-align: left;
}
.container {
    border: 1px solid white;
    padding: 20px;
    background-color: rgba(255, 189, 189, 0.616);

}
.button {
    border-radius: 4px;
    background-color: rgba(255, 189, 189, 0.616);
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: var(--font-family);

}
.button:hover{
    color: white;
}
.button-website {
    border-radius: 4px;
    background-color: rgba(255, 189, 189, 0.616);
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: var(--font-family);

}
.button-website:hover{
    color: white;
}
.description {
    font-family: var(--font-family);
    font-size: 15px;
}
.directions {
    text-align: left;
    font-family: 'Playfair Display', serif;
}
.text-left{
    margin-top: 90px;
}
.contact-button {
    border-radius: 4px;
    background-color: rgba(255, 189, 189, 0.616);
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: var(--font-family);
    

}
.contact-button:hover{
    color: white;
}
footer {
    margin-top: 100px;
}
.introduction {
    margin-top: 100px;
}
.website-button {
    padding: auto;
    margin: auto;
}